test/testFlow.json
[
    {
        "id": "3ca12348.91a3dc",
        "type": "tab",
        "label": "qm  test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3749be31.00eb52",
        "type": "delay",
        "z": "3ca12348.91a3dc",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "7e01a8ae.bdc268"
            ]
        ]
    },
    {
        "id": "40d48853.f09548",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "",
        "topic": "list",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "5f8e31ce.e47d"
            ]
        ]
    },
    {
        "id": "a9961dbc.6c89e",
        "type": "debug",
        "z": "3ca12348.91a3dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "71955f32.3de74",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "4e893f4c.81cd7"
            ]
        ]
    },
    {
        "id": "404ccf31.5f767",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "release",
        "topic": "release",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "5f8e31ce.e47d"
            ]
        ]
    },
    {
        "id": "fa793197.46f9a",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "pause",
        "topic": "pause",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "5f8e31ce.e47d"
            ]
        ]
    },
    {
        "id": "7597bd9f.cea474",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "Test inject to rollback ",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "7fc22aee.874b84"
            ]
        ]
    },
    {
        "id": "5c8be3a7.6dc49c",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "test inject to checkpoint",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "574f998e.03c148"
            ]
        ]
    },
    {
        "id": "7e01a8ae.bdc268",
        "type": "Load Balance",
        "z": "3ca12348.91a3dc",
        "name": "",
        "routes": "2",
        "outputs": 3,
        "selection": "next",
        "noavailability": "discard",
        "nocapacity": "next",
        "defaultcapacity": "21",
        "sticky": false,
        "dynamic": "d88dad9a.40eae",
        "mps": true,
        "x": 560,
        "y": 200,
        "wires": [
            [],
            [
                "94a34b6a.49dd98"
            ],
            [
                "7fc22aee.874b84"
            ]
        ]
    },
    {
        "id": "efe3f19a.e373a",
        "type": "Load Balance",
        "z": "3ca12348.91a3dc",
        "name": "",
        "routes": "2",
        "outputs": 3,
        "selection": "next",
        "noavailability": "discard",
        "nocapacity": "next",
        "defaultcapacity": "21",
        "sticky": false,
        "dynamic": "d88dad9a.40eae",
        "mps": false,
        "x": 520,
        "y": 120,
        "wires": [
            [],
            [
                "3749be31.00eb52"
            ],
            [
                "7e01a8ae.bdc268"
            ]
        ]
    },
    {
        "id": "574f998e.03c148",
        "type": "function",
        "z": "3ca12348.91a3dc",
        "name": "Add commit to stack",
        "func": "if(!msg.qm) {\n    node.error(\"Not queue managed, check config\");\n    return;\n}\nmsg.stackProcessor.add({node:node, commit: function(stackProcessor) {\n    node.warn(\"test this commit processed\");\n    stackProcessor.next();\n}});\nmsg.stackProcessor.add({node:node, commit: function(stackProcessor) {\n    node.warn(\"test node commit 2 processed\");\n    stackProcessor.next();\n}});\nmsg.stackProcessor.add({node:node, rollback: function(stackProcessor) {\n    node.warn(\"test this rollback processed\");\n    stackProcessor.next();\n}});\nmsg.stackProcessor.add({node:node, rollback: function(stackProcessor) {\n    node.warn(\"test node rollback 2 processed\");\n    stackProcessor.next();\n}});\nmsg.stackProcessor.add({node:node,\n    commit: function(stackProcessor) {\n        node.warn(\"test node commit 3 processed\");\n        stackProcessor.next();\n    },\n    rollback: function(stackProcessor) {\n        node.warn(\"test node rollback 3 processed\");\n        stackProcessor.next();\n    }\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "7e01a8ae.bdc268"
            ]
        ]
    },
    {
        "id": "5f8e31ce.e47d",
        "type": "Queue Manager Admin",
        "z": "3ca12348.91a3dc",
        "name": "Queue Manager Admin",
        "queueManager": "5e05b628.8b6788",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "a9961dbc.6c89e"
            ]
        ]
    },
    {
        "id": "7fc22aee.874b84",
        "type": "Queue Rollback",
        "z": "3ca12348.91a3dc",
        "name": "",
        "queueManager": "5e05b628.8b6788",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "a9961dbc.6c89e"
            ]
        ]
    },
    {
        "id": "94a34b6a.49dd98",
        "type": "Queue Checkpoint",
        "z": "3ca12348.91a3dc",
        "name": "",
        "queueManager": "5e05b628.8b6788",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "a9961dbc.6c89e"
            ]
        ]
    },
    {
        "id": "4e893f4c.81cd7",
        "type": "Queue",
        "z": "3ca12348.91a3dc",
        "name": "aq",
        "maxActive": 10,
        "maxWaiting": 100,
        "maxTime": 60000,
        "maxRetries": 0,
        "queueManager": "5e05b628.8b6788",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "efe3f19a.e373a"
            ],
            []
        ]
    },
    {
        "id": "a5dd278a.bb9a68",
        "type": "inject",
        "z": "3ca12348.91a3dc",
        "name": "debugToggle",
        "topic": "debugToggle",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "5f8e31ce.e47d"
            ]
        ]
    },
    {
        "id": "5e05b628.8b6788",
        "type": "Queue Manager",
        "z": "",
        "name": "test ",
        "checkInterval": "1000",
        "maxActive": "100",
        "maxWaiting": "1000",
        "maxTime": "10000",
        "setqueues": {
            "574f998e.03c148": {
                "maxActive": "10",
                "maxWaiting": "100",
                "maxTime": "10000"
            }
        },
        "setcheckpoints": {},
        "setrollbacks": {}
    }
]