test/testFlow.json
[{"id":"c6a412d4.8b571","type":"tab","label":"qm  test","disabled":false,"info":""},{"id":"6aa09614.2512f8","type":"delay","z":"c6a412d4.8b571","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":120,"wires":[["9115bb78.fa33f8"]]},{"id":"6062ba0b.1cf9a4","type":"Queue Manager","z":"c6a412d4.8b571","checkInterval":1000,"maxActive":100,"maxWaiting":1000,"maxTime":"60000","setqueues":{"c2dbb48a.042038":{"maxActive":"2","maxWaiting":"10","maxTime":"10000"},"d913551c.13f038":{"maxActive":"10","maxWaiting":"100","maxTime":"4400"},"bf228cf7.23a3f":{"maxActive":"10","maxWaiting":"100","maxTime":"4000"}},"setcheckpoints":{"d24aa0b3.5ed66":true},"setrollbacks":{"2ea9519e.32798e":true},"x":320,"y":60,"wires":[["339a2afe.1ed8f6"]]},{"id":"8c5f6bee.64a688","type":"inject","z":"c6a412d4.8b571","name":"","topic":"list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["6062ba0b.1cf9a4"]]},{"id":"339a2afe.1ed8f6","type":"debug","z":"c6a412d4.8b571","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":60,"wires":[]},{"id":"e3e5e2a7.a895e","type":"inject","z":"c6a412d4.8b571","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["c2dbb48a.042038"]]},{"id":"c2dbb48a.042038","type":"Queue","z":"c6a412d4.8b571","name":"aq","maxActive":"2","maxWaiting":"10","maxTime":"10000","queueManager":{"x":320,"y":60,"z":"c6a412d4.8b571","type":"Queue Manager","changed":false,"_config":{"checkInterval":"1000","maxActive":"100","maxWaiting":"1000","maxTime":"\"60000\"","setqueues":"{\"c2dbb48a.042038\":{\"maxActive\":\"2\",\"maxWaiting\":\"10\",\"maxTime\":\"10000\"},\"d913551c.13f038\":{\"maxActive\":\"10\",\"maxWaiting\":\"100\",\"maxTime\":\"4400\"},\"bf228cf7.23a3f\":{\"maxActive\":\"10\",\"maxWaiting\":\"100\",\"maxTime\":\"4000\"}}","setcheckpoints":"{\"d24aa0b3.5ed66\":true}","setrollbacks":"{\"2ea9519e.32798e\":true}","x":320,"y":60},"id":"6062ba0b.1cf9a4","_def":{"category":"function","defaults":{"checkInterval":{"value":1000,"required":true},"maxActive":{"value":100,"required":true},"maxWaiting":{"value":1000,"required":true},"maxTime":{"value":60000,"required":true},"setqueues":{"value":{}},"setcheckpoints":{"value":{}},"setrollbacks":{"value":{}}},"inputs":1,"inputLabels":"","outputs":1,"outputLabels":["Response"],"icon":"icons8-networking-manager-64.png","type":"Queue Manager","set":{"id":"node-red-contrib-monetdb/queueManager","name":"queueManager","types":["Queue Manager"],"enabled":true,"local":false,"module":"node-red-contrib-monetdb","version":"0.0.1","added":true}},"inputs":1,"outputs":1,"checkInterval":1000,"maxActive":100,"maxWaiting":1000,"maxTime":"60000","setqueues":{"c2dbb48a.042038":{"maxActive":"2","maxWaiting":"10","maxTime":"10000"},"d913551c.13f038":{"maxActive":"10","maxWaiting":"100","maxTime":"4400"},"bf228cf7.23a3f":{"maxActive":"10","maxWaiting":"100","maxTime":"4000"}},"setcheckpoints":{"d24aa0b3.5ed66":true},"setrollbacks":{"2ea9519e.32798e":true},"ports":[0],"dirty":false,"valid":true,"status":{"text":"Active: 0 Waiting: 0 Rollback: 3 Timed out: 2","fill":"green","shape":"ring"},"w":160,"h":30,"_ports":[[{"__data__":0}]],"selected":false,"highlighted":false,"resize":false,"l":true},"x":290,"y":120,"wires":[["adad8222.53ac8"]]},{"id":"607ceb36.fce494","type":"inject","z":"c6a412d4.8b571","name":"release","topic":"release","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["6062ba0b.1cf9a4"]]},{"id":"bccf269d.f75ce8","type":"inject","z":"c6a412d4.8b571","name":"pause","topic":"pause","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["6062ba0b.1cf9a4"]]},{"id":"d24aa0b3.5ed66","type":"Queue Checkpoint","z":"c6a412d4.8b571","name":"","queueManager":{"x":320,"y":60,"z":"c6a412d4.8b571","type":"Queue Manager","changed":false,"_config":{"checkInterval":"1000","maxActive":"100","maxWaiting":"1000","maxTime":"\"60000\"","setqueues":"{\"c2dbb48a.042038\":{\"maxActive\":\"2\",\"maxWaiting\":\"10\",\"maxTime\":\"10000\"},\"d913551c.13f038\":{\"maxActive\":\"10\",\"maxWaiting\":\"100\",\"maxTime\":\"4400\"},\"bf228cf7.23a3f\":{\"maxActive\":\"10\",\"maxWaiting\":\"100\",\"maxTime\":\"4000\"}}","setcheckpoints":"{\"d24aa0b3.5ed66\":true}","setrollbacks":"{\"2ea9519e.32798e\":true}","x":320,"y":60},"id":"6062ba0b.1cf9a4","_def":{"category":"function","defaults":{"checkInterval":{"value":1000,"required":true},"maxActive":{"value":100,"required":true},"maxWaiting":{"value":1000,"required":true},"maxTime":{"value":60000,"required":true},"setqueues":{"value":{}},"setcheckpoints":{"value":{}},"setrollbacks":{"value":{}}},"inputs":1,"inputLabels":"","outputs":1,"outputLabels":["Response"],"icon":"icons8-networking-manager-64.png","type":"Queue Manager","set":{"id":"node-red-contrib-monetdb/queueManager","name":"queueManager","types":["Queue Manager"],"enabled":true,"local":false,"module":"node-red-contrib-monetdb","version":"0.0.1","added":true}},"inputs":1,"outputs":1,"checkInterval":1000,"maxActive":100,"maxWaiting":1000,"maxTime":"60000","setqueues":{"c2dbb48a.042038":{"maxActive":"2","maxWaiting":"10","maxTime":"10000"},"d913551c.13f038":{"maxActive":"10","maxWaiting":"100","maxTime":"4400"},"bf228cf7.23a3f":{"maxActive":"10","maxWaiting":"100","maxTime":"4000"}},"setcheckpoints":{"d24aa0b3.5ed66":true},"setrollbacks":{"2ea9519e.32798e":true},"ports":[0],"dirty":false,"valid":true,"status":{"text":"Active: 0 Waiting: 0 Rollback: 3 Timed out: 2","fill":"green","shape":"ring"},"w":160,"h":30,"_ports":[[{"__data__":0}]],"selected":false,"highlighted":false,"resize":false,"l":true},"x":670,"y":260,"wires":[["339a2afe.1ed8f6"]]},{"id":"2ea9519e.32798e","type":"Queue Rollback","z":"c6a412d4.8b571","name":"","queueManager":{"x":320,"y":60,"z":"c6a412d4.8b571","type":"Queue Manager","changed":false,"_config":{"checkInterval":"1000","maxActive":"100","maxWaiting":"1000","maxTime":"\"60000\"","x":320,"y":60},"id":"6062ba0b.1cf9a4","_def":{"category":"function","defaults":{"checkInterval":{"value":1000,"required":true},"maxActive":{"value":100,"required":true},"maxWaiting":{"value":1000,"required":true},"maxTime":{"value":60000,"required":true},"queues":{"value":{}},"checkpoints":{"value":{}}},"inputs":1,"inputLabels":"","outputs":1,"outputLabels":["Response"],"icon":"icons8-networking-manager-64.png","type":"Queue Manager","set":{"id":"node-red-contrib-monetdb/queueManager","name":"queueManager","types":["Queue Manager"],"enabled":true,"local":false,"module":"node-red-contrib-monetdb","version":"0.0.1","added":true}},"inputs":1,"outputs":1,"checkInterval":1000,"maxActive":100,"maxWaiting":1000,"maxTime":"60000","ports":[0],"dirty":false,"valid":true,"w":160,"h":30,"_ports":[[{"__data__":0}]],"status":{"text":"Active: 0 Waiting: 0\n Rollback: 0 Timed out: 0","fill":"green","shape":"ring"}},"x":660,"y":300,"wires":[["339a2afe.1ed8f6"]]},{"id":"d913551c.13f038","type":"inject","z":"c6a412d4.8b571","name":"Test inject to rollback ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["2ea9519e.32798e"]]},{"id":"bf228cf7.23a3f","type":"inject","z":"c6a412d4.8b571","name":"test inject to checkpoint","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["585b6161.13b4e"]]},{"id":"9115bb78.fa33f8","type":"Load Balance","z":"c6a412d4.8b571","name":"","outputs":2,"selection":"next","x":400,"y":220,"wires":[["d24aa0b3.5ed66"],["2ea9519e.32798e"]]},{"id":"adad8222.53ac8","type":"Load Balance","z":"c6a412d4.8b571","name":"","outputs":2,"selection":"next","x":460,"y":120,"wires":[["6aa09614.2512f8"],["9115bb78.fa33f8"]]},{"id":"585b6161.13b4e","type":"function","z":"c6a412d4.8b571","name":"Add commit to stack","func":"\nmsg.commitStack.push({node:node, action: function() {\n    this.warn(\"test this commit processed\");\n}});\nmsg.commitStack.push({node:node, action: function() {\n    node.warn(\"test node commit processed\");\n}});\nmsg.rollbackStack.push({node:node, action: function() {\n    this.warn(\"test this rollback processed\");\n}});\nmsg.rollbackStack.push({node:node, action: function() {\n    node.warn(\"test node rollback processed\");\n}});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["d24aa0b3.5ed66"]]}]